# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# Environments
.venv

# mkdocs documentation
/site
/docs

# Ruff stuff:
.ruff_cache/

# OS Stuff
.DS_store

# My files
check.py
ideas.txt
functs_to_add.py

