name: Publish Documentation

on:
  push:
    branches:
      - main  # Trigger only when changes are merged into main

permissions:
  contents: write # Required for the action to push the built site to the gh-pages branch

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        # This installs your package + documentation tools
        run: |
            uv venv
            uv pip install . mkdocs-material mkdocstrings[python]

      - name: Deploy to GitHub Pages
        # The --force flag ensures it overwrites the previous site version
        run: uv run mkdocs gh-deploy --force